<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>WoWHelper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap.min.js></script>

  
  {% block extrajs %}
  {% endblock %}
</head>
<body >

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id='logo' href="{% url 'homepage' %}" class="navbar-brand">WoW<span>Toolkit</span></a>
    </div>
    <ul class="nav navbar-nav"> 
      <li><a href="{% url 'itemfinder' %}">Shadowlands Item Finder</a></li>
    </ul>
    <div class="dropdown">
      <button class="dropbtn">Guild Tools
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{% url 'dungeoncheck' %}">Weekly Dungeon Check</a>
      </div>
  </div>
  </div>
</nav>


  <div class="container" id="mainpage">
    {% block content %}
    {% endblock %}
  </div>

<footer class="footer">
      <div class="container">
        <span id="footercontent"  class="text-muted"><a target="_blank" href="https://raider.io/characters/eu/burning-legion/Kejnaar">© 2020 Kejnaar-BurningLegion</a></span>
      </div>
    </footer>
</body>
</html>