{% extends 'base.html' %} {% load static %} {% block extrajs%}
<script src="{% static 'itemfinder_dynamic_form.js' %}"></script>
{%endblock extrajs%} {% block content %}
<div class="col-2">
<table>
</table>
</div>
<div class="col-8 offset-2">
<form method="POST" action="{% url 'result' %}">
	{% csrf_token %}
	<div class="form-group" id="fg1">
		<label for="itemtype" class="headlabel">Item type:</label>
		<select class="form-control" name="itemtype" id="itemtype">
			<option selected disabled></option>
			<option>Cloth</option>
			<option>Leather</option>
			<option>Mail</option>
			<option>Plate</option>
			<option>Neck/Finger/Cloak</option>
			<!--<option>Trinket</option>-->
		</select>
	</div>
	<div class="form-group" id="fg2">
		<label class="headlabel">Source:</label></br>
		<div class="form-check">
		<input
			type="checkbox"
			class="form-check-input"
			name="source[]"
			id="raid"
			value="raid"
		/>
		<label class="form-check-label" for="raid">Raid</label>
		<input
			type="checkbox"
			class="form-check-input"
			name="source[]"
			id="dungeon"
			value="dungeon"
		/>
		<label class="form-check-label" for="dungeon">Dungeon</label>
		<br /></div>
	</div>
	<div class="form-group" id="fg3">
		<label for="itemtype" class="headlabel">Main Stat:</label>
		<select class="form-control" name="mainstat" id="mainstat">
			<option selected disabled></option>
			<option>Intellect</option>
			<option>Agility</option>
			<option>Strength</option>
		</select>
	</div>
	<div class="form-group" id="fg4">
		<label class="headlabel">Secondary Stats:</label><br />
		<div class="form-check">
		<input
			type="checkbox"
			class="form-check-input"
			name="offstat[]"
			value="Haste"
			id="haste"
		/>
		<label class="form-check-label" for="haste">Haste</label>
		<input
			type="checkbox"
			class="form-check-input"
			name="offstat[]"
			value="Crit"
			id="crit"
		/>
		<label class="form-check-label" for="crit">Critical Strike</label>
		<input
			type="checkbox"
			class="form-check-input"
			name="offstat[]"
			value="Vers"
			id="vers"
		/>
		<label class="form-check-label" for="vers">Versatility</label>
		<input
			type="checkbox"
			class="form-check-input"
			name="offstat[]"
			value="Mastery"
			id="mastery"
		/>
		<label class="form-check-label" for="mastery">Mastery</label>
		<br /></div>
	</div>
	<div class="form-group" id="fg5">
		<label for="spec" class="headlabel">Spec:</label>
		<select class="form-control" name="spec" id="spec">
			<option selected disabled></option>
			<option>Tank</option>
			<option>Healer</option>
			<option>Caster</option>
			<option>Melee/Hunter</option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary" id="submitbutton">
		Submit
	</button>
	<p>*Weapons and trinkets are not supported yet</p>
</form></div>
{% endblock %}
